.bannertop{
	width:100%;
	padding:10px;
	height:160px;
    text-align: center center;
    color:#494949;
  background:#000;
}

body{
  color:#000;
  background: #000;
}

.foo{
  background: #000;
  color: #fff;
  width:100%;
  min-height:200px;
  padding: 30px;
  margin-top: 0;
  bottom: 0;
}

.margin-20{
	margin:20px;
}

.work-in{
	width:100%;
	padding: 30px;
	color:#FFFFFF;
	background: url("../img/escheresque_ste.png");
	min-height: 100px;
}
h1, h2{
  color:#FAAC58;
}

h3{
  color:#F7D358;
}
p{
  color:#F7D358;
}
 h4, h5, h6, blockquote{
 color:#D8D8D8; 
}
.contact-in{
  width:100%;
  padding: 30px;
  /*color:#567574;*/
  color:#FFFFFF;
  background: url("../img/grey_wash_wall.png");
  min-height: 100px;
}
.skills-in{
  width:100%;
  padding: 30px;
  /*color:#567574;*/
  color:#FFFFFF;
  background: url("../img/footer_lodyas.png");
  min-height: 100px;
}
.hexagon {
  position: relative;
  width: 180px; 
  height: 103.92px;
  background-color: #585858;
  margin: 51.96px 0;
  /*opacity: 0.5;*/
  color:#FAAC58 !important;
  font-size: 14px;
  text-align: 50% 50%;
   vertical-align: 50%;
  /*filter: alpha(opacity=50);*/
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 51.96px solid #585858;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 51.96px solid #585858;
}